<h1 class="text-center">Our Team</h1 class="text-center">

<div id="poo">
<ul class="list-inline text-center">
  <% ["fahad", "cat"].each do |member| %>
    <li>
      <%= image_tag "#{member}.jpg", class: "img-circle avatar-xl" %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>
</div>
